@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  width: 100%;
  margin: 0 auto;
  color: var(--color-text) !important;
  background: var(--color-background) !important;
  transition: color 0.5s, background-color 0.5s;
}

